/* http://www.gtinnovations.com.au/assets/Promethean-2012/Projector-Manuals/Promethean-EST-P1-20120203-GT.pdf
 * Resolution: 1280 x 800
 */


html, body, .tab-pane {
    height: 100%;
}

.half-height {
    height: 50%;
    position: relative;
}

.tab-header {
    position: absolute;
    width: 100%;
}

.tab-content {
    padding-top: 38px;
    overflow: hidden;
}

.editor {
    width: 100%;
    height: 28em;
}

.full-size {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.tools-row {
    height: 38px;
    position: absolute;
}

.tools-row label {
    display: inline;
}